 @import "var";
 @import "mix";
 @import "media";
 @include start_style;


 body{
 	background: url('../img/bg.png') center top no-repeat;
 	background-size: cover;
 	box-sizing: border-box;

 }
 .wrapper{
 	font: $font;
 	background-color: #fff;
 	border-radius: 3px;
 	padding: 0 20px 60px 20px;
 	margin-bottom: 70px;
 	margin: 60px auto;
 	max-width: 460px;
 	.header{
 		@include flex;
 		margin-bottom: 20px;
 		padding-top: 30px;
 		&__title{
 			background: url('../img/icon.svg') 2px no-repeat;
 			color: #1b1c1d;
 			font: $font;
 			font-size: 24px;
 			font-weight: 700;
 			line-height: 24px;
 			padding-left: 30px;
 		}
 	}
 	.long__text{
 		font: $font;
 		font-size: 13px;
 		font-weight: 400;
 		line-height: 20px;
 		width: 100%;
 		margin-bottom: 35px;
 		&--red{
 			color: $primary-color;
 			cursor: pointer;
 			text-decoration: none;
 		}
 	}
 	.dayliform{
 		@include flex;
 		justify-content: space-between;
 		.firstName{
 			width: 49%;
 			height: 40px;
 			background-color: #f0f0f0;
 			border-radius: $border-radius;
 			margin-bottom: 15px;
 			border: none;
 			padding-left: 15px;
 		}
 		.lastName{
 			width: 49%;
 			height: 40px;
 			background-color: #f0f0f0;
 			border-radius: $border-radius;
 			border: none;
 			padding-left: 15px;
 			margin-bottom: 15px;
 		}
 		.mail{
 			width: 100%;
 			height: 40px;
 			background-color: #f0f0f0;
 			border-radius: $border-radius;
 			border: none;
 			padding-left: 15px;
 			margin-bottom: 15px;
 		}
 		.pass{
 			width: 100%;
 			height: 40px;
 			background-color: #f0f0f0;
 			border-radius: $border-radius;
 			border: none;
 			padding-left: 15px;
 			margin-bottom: 15px;
 		}
 		input[type="submit"]{
 			width: 100%;
 			height: 50px;
 			cursor: pointer;
 			background-color: $primary-color;
 			border-radius: $border-radius;
 			box-shadow: 0 3px 0 #bd1962;
 			color: white;
 			font: $font;
 			font-size: 18px;
 			font-weight: 700;
 			line-height: 20px;
 			border: none;
 			margin-bottom: 25px;
 		}
 	}
 	.end-text{
 		font: $font;
 		font-size: 12px;
 		font-weight: 400;
 		line-height: 20px;
 		color: #7a7b7f;

 		&__terms{
 			text-decoration: none;
 			color: #e12a6c;
 		}
 		&__privacy{
 			color: #e52e66;
 			text-decoration: none;
 		}
 	}

 }
